---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Slide from "../components/Slide.astro";
import Links from "../components/links.astro";
import Presentation from "../components/Presentation.astro";
import ParallaxBanner from "../components/parallaxBanner.astro";
import Filosofia from "../components/filosofia.astro";
import Video from "../components/video.astro";
---
<MainLayout>
<html>
  <body>
	<Header/>
	<Slide/>
	<Links/>
	<Presentation/>
	<ParallaxBanner/>
	<Filosofia/>
	<Video/>
    <slot />
  </body>
</html>
</MainLayout>
