---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Slide from "../components/Slide.astro";
import Links from "../components/links.astro";
import Presentation from "../components/Presentation.astro";
import ParallaxBanner from "../components/parallaxBanner.astro";
import Filosofia from "../components/filosofia.astro";
import Video from "../components/video.astro";
import Proyectos from "../components/Proyectos.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout>
<html>
  <body>
	<Header/>
	<Slide/>
	<Links/>
	<Presentation/>
	<ParallaxBanner url='/img/parallaxBanner.jpg' text={"Apoyando al desarrollo sostenible de nuestro país"}/>
	<Filosofia/>
	<Video/>
	<Proyectos/>
	<ParallaxBanner url='img/Pry_aloag.jpg' text={""}/>
	<Footer/>
    <slot />
  </body>
</html>
</MainLayout>
