<div class="flex space-x-8 justify-center my-16">
    <div class="w-72 p-2 hover:bg-grisclaro">
        <h3 class="font-bold text-2xl">Quienes Somos</h3>
        <p class="my-3 text-xs">Hidalgo e Hidalgo S.A. (HeH Constructores), constituida en Ecuador en 1969, es una empresa líder en construcción y gerencia de infraestructura, trabaja en obras principalmente en las áreas de vialidad, puentes, túneles, saneamiento, electrificación, puertos, riego y edificaciones.</p>
        <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        <div>
            <a href="\HeH-Ecuador" class="text-azulclaro">Ver más</a>
        </div>
    </div>
    <div class="w-72 p-2 hover:bg-grisclaro">
        <h3 class="font-bold text-2xl">Misión</h3>
        <p class="my-3 text-xs">Brindar servicios de ingeniería, construcción, mantenimiento y administración de infraestructura, con excelencia, oportunidad y responsabilidad social; mediante elevados estándares de calidad, preservación del medio ambiente, seguridad y salud ocupacional; para contribuir al desarrollo sostenible de nuestro País. </p>
        <div class="my-3 w-full h-0.5 bg-gray-300"></div>
    </div>
    <div class="w-72 p-2 hover:bg-grisclaro">
        <h3 class="font-bold text-2xl">Visión</h3>
        <p class="my-3 text-xs">Ser reconocida como una empresa constructora líder en el mercado nacional e internacional, con excelencia en su modelo de gestión y procesos de innovación, para mejorar la calidad de vida a sus trabajadores, generando bienestar a la sociedad.</p>
        <div class="my-3 w-full h-0.5 bg-gray-300"></div>
    </div>
</div>