<header>
    <div class="bg-azulclaro flex items-center h-16 justify-center">
      <!-- Nav Menu -->
      <nav>
        <ul class="flex space-x-8 text-white min-h-16 items-center">
          <li class="h-16 content-center hover:bg-azulOscuro px-3"><a href="/" class="">Inicio</a></li>
          <li class="h-16 content-center hover:bg-azulOscuro px-3 relative group">
            <a href="/hehEcuador" class="hover:text-gray-300 flex items-center h-full">HeH Ecuador</a>
            <div class="absolute left-0 hidden group-hover:block bg-white text-black shadow-md mt-0 py-2 rounded-b z-10">
              <a href="/historia" class="block px-4 py-2 hover:bg-gray-100">Historia</a>
              <a href="/quienes-somos" class="block px-4 py-2 hover:bg-gray-100">Quienes Somos</a>
            </div>
          </li>
          <li class="h-16 content-center hover:bg-azulOscuro px-3"><a href="/resposabilidad" class="hover:text-gray-300">Responsabilidad Corporativa</a></li>
          <li class="h-16 content-center hover:bg-azulOscuro px-3"><a href="/politicasgi" class="hover:text-gray-300">Política SGI</a></li>
          <li class="h-16 content-center hover:bg-azulOscuro px-3"><a href="/contacto" class="hover:text-gray-300">Contacto</a></li>
          <li class="h-16 content-center hover:bg-azulOscuro px-3"><a href="/proteccion" class="hover:text-gray-300">Protección de datos</a></li>
        </ul>
      </nav>
    </div>
    <div class="mx-auto p-5 flex bg-grisclaro items-center">
      <div class="w-48">
        <img src="logo_HeH.png" alt="Logo de Hidalgo e Hidalgo S.A.">
      </div>
      <div class="container flex justify-center items-center">
        <div class="w-8">
          <div class="svg-container">
            <svg class="w-6 h-6 fill-gray-700" width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.48 31.16C20.24 42.48 29.52 51.72 40.84 57.52L49.64 48.72C50.72 47.64 52.32 47.28 53.72 47.76C58.2 49.24 63.04 50.04 68 50.04C70.2 50.04 72 51.84 72 54.04V68C72 70.2 70.2 72 68 72C30.44 72 0 41.56 0 4C0 1.8 1.8 0 4 0H18C20.2 0 22 1.8 22 4C22 9 22.8 13.8 24.28 18.28C24.72 19.68 24.4 21.24 23.28 22.36L14.48 31.16Z" />
            </svg>
          </div>
          
            
        </div>
        <div>
          <h4 class="font-bold text-md">
            Teléfono
          </h4>
          <p class="text-sm">
            +593 (22) 29865
          </p>
        </div>
      </div>
      <div class="container flex justify-center items-center">
        <div class="w-8">
          <div class="svg-container">
            <svg class="w-6 h-6 fill-gray-700" width="51" height="72" viewBox="0 0 51 72" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.2 34.2C22.8131 34.2 20.5239 33.2518 18.836 31.564C17.1482 29.8761 16.2 27.5869 16.2 25.2C16.2 22.8131 17.1482 20.5239 18.836 18.836C20.5239 17.1482 22.8131 16.2 25.2 16.2C27.5869 16.2 29.8761 17.1482 31.564 18.836C33.2518 20.5239 34.2 22.8131 34.2 25.2C34.2 26.3819 33.9672 27.5522 33.5149 28.6442C33.0626 29.7361 32.3997 30.7282 31.564 31.564C30.7282 32.3997 29.7361 33.0626 28.6442 33.5149C27.5522 33.9672 26.3819 34.2 25.2 34.2ZM25.2 0C18.5165 0 12.1068 2.65499 7.38091 7.38091C2.65499 12.1068 0 18.5165 0 25.2C0 44.1 25.2 72 25.2 72C25.2 72 50.4 44.1 50.4 25.2C50.4 18.5165 47.745 12.1068 43.0191 7.38091C38.2932 2.65499 31.8835 0 25.2 0Z" />
            </svg>
          </div>
            
        </div>
        <div>
          <h4 class="font-bold text-md">
            Dirección
          </h4>
          <p class="text-sm">
            Quito: Av. Galo Plaza Lasso N51-127 y Algarrobos
          </p>
        </div>
      </div>
    </div>
  </header>
  