<div class="bg-azulOscuro p-4 h-32 content-center">
    <nav>
        <ul class="flex space-x-5 text-white justify-center text-sm">
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-azulclaro p-2 flex items-center justify-center w-16">
                    <img src="/img/mail.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    Email - HeH
                </div>
            </a>
          </li>
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-azulclaro p-2 flex items-center justify-center w-16">
                    <img src="/img/settings.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    Sistema HeH
                </div>
            </a>
          </li>
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-red-500 p-2 flex items-center justify-center w-16">
                    <img src="/img/check.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    Califícate como proveedor
                </div>
            </a>
          </li>
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-blue-500 p-2 flex items-center justify-center w-14">
                    <img src="/img/facebook.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    Facebook
                </div>
            </a>
          </li>
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-red-700 p-2 flex items-center justify-center w-16">
                    <img src="/img/youtube.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    YouTube
                </div>
            </a>
          </li>
          <li>
            <a href="https://www.google.com" class="bg-grisclaro text-black flex w-48 h-10">
                <div class="bg-azulclaro p-2 flex items-center justify-center w-16">
                    <img src="/img/deuncias.png" alt="" class="w-6">
                </div>
                <div class="p-2 flex items-center justify-center font-bold text-center">
                    Canal de denuncias
                </div>
            </a>
          </li>
        </ul>
      </nav>
</div>
