<div class="p-5">
    <h1 class="font-bold text-center text-4xl">
        Hidalgo e Hidalgo S.A.
    </h1>
    <h3 class="font-light text-center text-lg">
        <i>
            Desde 1969, somos una empresa líder en construcción y gerencia de infraestructura.
        </i>
        
    </h3>
    <div class="flex space-x-8 justify-center my-16">
        <a href="/infrestructura" class="w-72 p-2 hover:bg-grisclaro">
            <img src="/img/infraestructura.jpg" alt="Logo de Hidalgo e Hidalgo S.A." class="w-full h-48 object-cover object-bottom">
            <h3 class="my-2 font-bold text-xl">Infraestructura</h3>
            <p class="my-2 text-xs">Al aceptar obras complejas, que desafían la voluntad y la creatividad, consolidamos el liderazgo en Ecuador, cumpliendo sueños de trasformación.</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/infrestructura" class="w-72 p-2 hover:bg-grisclaro">
            <img src="/img/concesionarias.jpg" alt="Logo de Hidalgo e Hidalgo S.A." class="w-full h-48 object-cover object-bottom">
            <h3 class="my-2 font-bold text-xl">Concesionarias</h3>
            <p class="my-2 text-xs">Hidalgo e Hidalgo S.A. encontró oportunidades en la concesionarias, donde otros vieron incertidumbre y dificultades.</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/infrestructura" class="w-72 p-2 hover:bg-grisclaro">
            <img src="/img/hidroelectricas.jpg" alt="Logo de Hidalgo e Hidalgo S.A." class="w-full h-48 object-cover object-bottom">
            <h3 class="my-2 font-bold text-xl">Hidroeléctricas</h3>
            <p class="my-2 text-xs">Evitar situaciones estacionales de déficit de energía eléctrica en el país e incentivar actividades productivas como la agroindustria en la región.</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
    </div>
</div>