<div class="p-5 bg-grisclaro">
    <h1 class="font-bold text-center text-4xl text-azulclaro">
        Proyectos Hidalgo e Hidalgo
    </h1>
    <h3 class="font-light text-center text-lg">
        <i>
            Proyectando la empresa a nivel internacional con perseverancia, capacidad y calidad
    humana.
        </i>
        
    </h3>
    <div class="flex flex-wrap justify-center my-14 max-w-screen-xl mx-auto font-medium">
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_aloag.jpg" alt="Imagen del proyecto Vía Aloag Santo Domingo" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">Proyecto Vía Aloag - Santo Domingo</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_metamecanica.jpg" alt="Imagen de la Industria Metalmecánica" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">Industria Metalmecánica</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_baba.jpg" alt="Imagen del proyecto E25 BABA" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">E25 BABA</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_sanantonio.jpg" alt="Imagen del proyecto Proyecto San Antonio - Las Margaritas - San Vicente" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">Proyecto San Antonio - Las Margaritas - San Vicente</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_cahuaji.jpg" alt="Imagen del Proyecto Cahuaji - Pillate - Cotaló" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">Proyecto Cahuaji - Pillate - Cotaló</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_chongon.jpg" alt="Imagen del Trasvase Chongón - San Vicente" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs mt-1">Trasvase Chongón - San Vicente</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_trasvase.jpg" alt="Imagen del proyecto Trasvase Chongón - San Vicente" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs">Trasvase Chongón - San Vicente</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
        <a href="/" class="w-72 p-2 hover:bg-gray-200">
            <img src="/img/Pry_zhud.jpg" alt="Imagen del proyecto ZHUD - COCHANCAY" class="w-full h-64 object-cover object-bottom">
            <p class=" text-xs">ZHUD - COCHANCAY</p>
            <div class="my-3 w-full h-0.5 bg-gray-300"></div>
        </a>
    </div>
    
</div>