<div class="flex flex-col items-center p-4">
    <div class="max-w-3xl mb-8 text-center">
      <p class="font-bold text-xl text-azulclaro">
        HeH Ecuador Nuestros proyectos comprenden obras de infraestructura, principalmente en las áreas de vialidad,
puentes, túneles, saneamiento, riego, electrificación, puertos, aeropuertos, y edificaciones.
      </p>
      <i class="text-sm">Proyectos que contribuyen al desarrollo sostenible de nuestro país.</i>
    </div>
    <div class="w-full max-w-3xl aspect-video">
      <iframe
        class="w-full h-full"
        src={`https://www.youtube.com/embed/um5Ar529yjE`}
        title="Hidalgo e Hidalgo S.A."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>